/*
* Author: Peter G
* Version: 1.0
*/

/* This section imports fonts from Google Fonts and defines variables for reusability. */
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Add smooth scrolling when click on the scroll up */
html{
    scroll-behavior: smooth;
}

/* Reset some default styles for all elements. */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic styling for the entire body of the webpage. */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular', sans-serif;
    color: #333333;
}

/* Font styling for headings and paragraphs. */
h1, h2, h3, h4, h5{
    font-family: 'Roboto-Medium', serif;
    margin: 10px 0px;
}

/* Specific styling for various heading levels. */
/* h1 to h5: Font size and line height. */
/* p: Font size, line height, and margin at the bottom. */
h1 {
    font-size: 56px;
    line-height: 78px;
}

h2 {
    font-size: 40px;
    line-height: 56px;
}

h3 {
    font-size: 31px;
    line-height: 43px;
}

h4 {
    font-size: 25px;
    line-height: 35px;
}

h5 {
    font-size: 16px;
    line-height: 1.6;
}

p {
    font-size: 16px;
    line-height: 1.6; 
    margin-bottom: 20px;
}

img{
    width: 100%;
    display: block;
}

section {
    position: relative; /* Set relative positioning for sections */
    margin: 5em 0; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}
/*input designs for all types that are text, email, date and number*/
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styling for input and textarea elements in focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus (optional) */
}

/* Global styling for classes that can be used throughout the website. */
.main_wrapper{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    position: relative;
    padding: 20px;
}

/* Button Styles */
.button {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px solid transparent;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.button i {
    margin-left: 10px;
}

/* Primary Button Styles */
.button.primary {
    background-color: #185E3F; /* Use a variable for background color */
    color: #fff;
}

/* Primary Button Hover State */
.button.primary:hover {
    background-color: #0b3522; /* Change background color on hover */
}

.button.primary.hallow {
    background-color: rgba(255, 255, 255, 0); 
    color: #185E3F; 
    border: 1px solid #185E3F; 
}

.button.primary.hallow:hover {
    background-color: #185E3F; /* Use a variable for background color */
    color: #fff;
}

.button.secondary {
    background-color: #8E3727;
    color: #fff;
}

.button.secondary:hover {
    background-color: #66271c;
}

.brief_description {
    margin-bottom: 30px; 
}

.quotes{
    font-style: italic;
    font-size: 16px;
    line-height: 1.6; 
}

.quotes__link{
    color: #8E3727;
    display: block;
    margin: 10px 0px;
}

.grid {
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
}

.row {
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
}

.row > * {
    padding: 10px; 
}

.coln-6 {
    -webkit-box-flex: 0; /* Used for safari browsers */
    -ms-flex: 0 0 auto; /* Used for edge browsers */
    flex: 0 0 auto; /* The flex property sets the flexible length on flexible items */
    width: 50%; /* Define column width for coln-6 */
}

.coln-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%; /* Define column width for coln-4 */
}
/* This class is added to the menu on mobile */
.on_mobile{
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.28);
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.28);
    z-index: 1111;
}

.content_overlay {
    background-color: #ccccccc8; /* Use rgba for transparency */
    padding: 20px;
    width: 100%;
    max-width: 80%;
    border-radius: 6px; /* Add border-radius for rounded corners */
}

.transparent{
    background-color: transparent !important; /* this important overwrites all other styles using this background color */
}


/* Header */
header {
    background-color: #fff;
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.header__content{
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex;
    width: 100%;
    -webkit-box-pack: justify; /* Used for safari browsers */
        -ms-flex-pack: justify; /* Used for edge browsers */
            justify-content: space-between; /*   The 'justify-content: space-between;' property aligns the flex items along the main axis with space distributed evenly between them */
    -webkit-box-align: center; /* Used for safari browsers */
        -ms-flex-align: center; /* Used for edge browsers */
            align-items: center; /*    The 'align-items: center;' property centers the flex items along the cross-axis within their container */
}

.header__primary-logo{
    max-width: 100px;
}

/* Main menu */
.header__navigation ul{
    list-style: none; /* Remove default list styling */
    display: block; 
    margin: 0px;
    padding: 0px;
}

.header__navigation ul li {
    display: inline; /* Display menu items in a horizontal line */
    margin-right: 20px; 
}

.header__navigation ul li a {
    text-decoration: none; /* Remove underlines from menu links */
    color: #333333; 
}

/* Main menu for mobile */
.header__mobile-menu {
    display: none; /* Initially hide the mobile menu */
}

.header__mobile-menu a {
    cursor: pointer; /* Change the cursor to a pointer on hover */
    text-decoration: none; /* Stop the underline of a link */
}

.header__mobile-menu a .fa-bars{
    color: #333; 
    font-size: 28px; 
}

.header__mobile-menu a .fa-xmark{
    display: none; /* Initially hide the close icon */
    color: #333; 
    font-size: 28px;
}

.hero_banner{
    background-position: center; /* Make background image centered */
    background-size: cover; /* Make background image cover the entire container */
    background-repeat: no-repeat; /* Ensure that if the background image spreads, there is no repeating */
    margin: 0;
    height: 800px;
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
    color: #fff;
}

#accordion .ui-accordion-header.ui-state-active{
    background-color: #333333;
}

#accordion .ui-accordion-header{
    background: #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #ccc;
}

#accordion .ui-widget-content{
    border: 0px;
}

.about-us{
    background-color: #f9f9f9;
}

.checklist {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    list-style: none;
    padding: 20px;
}

.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.checklist i {
    font-size: 24px;
    margin-right: 10px;
}

.full_width_container {
    background-position: center; /* Make background image centered */
    background-size: cover; /* Make background image cover the entire container */
    background-repeat: no-repeat; /* Ensure that if the background image spread there is no repeating */
    margin: 0;
}

.full_width_container__content {
    padding: 10em 0px;
}

/* Featured tiles */
.featured_content_tile {
    padding: 20px; /* Define padding for featured content tiles */
    background-color: #ffffff;
}

/* Carousel */
.carousel_item{
    padding: 10px; /* Set padding for carousel items */
}

/* Email subscribe */

.subscribe__email-subscribe{
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
}

.subscribe__email-subscribe .subscribe__input{
    border-radius: 6px 0px 0px 6px;
}

.subscribe__email-subscribe .subscribe__button {
    border-radius: 0px 6px 6px 0px;
    margin: 0px;
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
}

/* form */
.form{
    padding: 25px 0px;
}

.form__input-group {
    margin-bottom: 30px; /* Add margin at the bottom of form groups */
}

/* Footer */
.footer {
    background-color: #333333; /* Set the background color for the site footer */
    color: #fff; /* Set text color in the footer */
    padding: 20px 0;
}

.footer ul{
    margin: 0px;
    padding: 0px;
}

.footer li{
    padding: 10px;
    list-style: none;
}

.footer__social-media{
    margin-bottom: 10px;
}

.footer__social-media ul{
    display: -webkit-box; /* Used for safari browsers */
    display: -ms-flexbox; /* Used for edge browsers */
    display: flex; /* Use flexbox for grid layout */
}


.footer a {
    color: #fff; /* Set link color in the footer */
    font-weight: bold;
}

/* Scroll up */
.scroll-to-top-button {
    display: none; /* Initially hide the scroll-to-top button */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; /* Set z-index to control stacking order */
    background-color: #185E3F; 
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer; 
    -webkit-transition: opacity 0.3s; 
    -o-transition: opacity 0.3s; 
    transition: opacity 0.3s; /* Add a transition effect for opacity */
}

.scroll-to-top-button:hover {
    background-color: #0b3522; 
}

.scroll-to-top-button .fa-circle-up{
    font-size: 27px; 
}

/* Responsive media */

/* Tablet */
@media screen and (max-width: 1024px) {
    .full_width_container {
        padding: 50px; 
    }
    .full_width_container {
        padding: 0px; /* Adjust padding for the full-width container on screens up to 768px width */
    }

    .full_width_container__content{
        padding: 0px;
    }
    .hero_banner{
        height: 500px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    /* Adjust the font size for h1 h2 h3 and p on screens up to 768px width */
    h1 {
        font-size: 36px; 
        line-height: 50px; 
    }

    h2 {
        font-size: 28px; 
        line-height: 39px; 
    }

    h3 {
        font-size: 22px; 
        line-height: 31px; 
    }

    p {
        font-size: 14px; 
        line-height: 1.5;
        margin-bottom: 15px; 
    }

    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .coln-6, .coln-4 {
        width: 100%;
        padding: 0px; /* Adjust padding for columns on smaller screens */
    }
    /* Adjusting the logo size for mobile */
    .header__primary-logo{
        max-width: 60px;
    }

    .header__content{
        padding: 0px 20px;
    }
    .hero_banner{
        height: 400px;
    }
    /* The menu changes for mobile */
    .header__navigation {
        display: none; /* Initially hide the main menu */
        position: fixed;
        top: 100px;
        padding: 0;
        left: 0;
        width: 100%;
        background-color: #f0f0f0f7; /* Set the background color for the mobile menu */
        border-top: 1px solid #ebebeb; /* Add a top border to the mobile menu */
        z-index: 1111111; /* Set the stacking order for the mobile menu */
    }

    .header__navigation ul {
        padding: 20px; /* Adjust padding for menu items on smaller screens */
        border-bottom: 1px solid #ebebeb; /* Add a bottom border to menu items */
        width: 100%;
    }

    .header__navigation ul li{
        display: inline-block;
        width: 100%;
        padding: 20px;
    }

    .header__navigation .button{
        margin: 0px;
    }

    .header__mobile-menu {
        display: block; /* Show the mobile menu icon */
    }

    .content_overlay{
        max-width: 100%;
    }

    section{
        margin: 20px 0px;
    }

}

/* small mobiles */
@media screen and (max-width: 360px) {
    /* Adjust the font size for h1 h2 h3 and p on screens up to 360px width */
    h1 {
        font-size: 24px; 
        line-height: 33px; 
    }

    h2 {
        font-size: 20px; 
        line-height: 28px; 
    }

    h3 {
        font-size: 16px; 
        line-height: 1.6; 
    }

    h1, h2, h3, h4, h5, p{
        text-align: center;
    }
    
    .brief_description{
        margin-bottom: 0;
    }

    p {
        font-size: 14px; 
        line-height: 1.5; 
        margin-bottom: 10px; 
    }

    .hero_banner{
        height: 300px;
    }

    section{
        margin: 0px;
    }

}